.invite, .rsvp-form {
    text-align: center;
    margin: 10% 30%;
    /* background-color: #fff; */
    /* opacity: .7; */
    border-top-right-radius: #AEAAAF;
}

body {
    background-image: url(./images/babyphant.jpg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
}

span {
    font-family: 'Satisfy', cursive;
    font-size: 210%;
}

p, label, h5 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #717171;
}

.modal {
    width: 100%;
}

.btn {
    margin: 2%;
    border-radius: 10px;
    background-color: #AEAAAF;
}

a, .submit, .modal-btn {
    color: #fff;
    font-family: 'Satisfy', cursive;
    font-size: 110%;
}

a:hover, .submit:hover, .btn:hover {
    /* color: #717171; */
    color: #717070;
    text-decoration: none;
    background-color: rgb(240, 240, 240);
}

.select {
    margin-top: 2%;
    /* width: 20%; */
}

/* label {
    width: 60%;
} */

.write-in {
    width: 100%;
    opacity: .7;
    margin: 1%;
    border: solid 1px #AEAAAF;
    border-radius: 10px;
}

.write-in:focus {
    background-color: rgb(240, 240, 240);
}


/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 767.98px) {
    .invite, .rsvp-form {
      margin: 10%;
      /* background-color: #fff;
      opacity: .6; */
    }
    body {
        background-image: url(./images/babyphant.jpg);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 35%;
    }
  }